asgiref
Django
django-tinymce
gunicorn               
python-decouple        
python-dotenv          
psycopg2-binary        
PyMySQL                
mysql-connector-python 
pillow                 
whitenoise             
sqlparse
tzdata
qrcode
fpdf
psycopg2-binary